name: Checking links on markdown files
on:
  pull_request:
    branches:
      - main

jobs:
  check_links:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout branch
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install devbox
      uses: jetify-com/devbox-install-action@v0.12.0
      with:
        enable-cache: 'true'

    - name: Check links
      run: devbox run test
